/* Global presets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 350;

  color: #444;
}

/* General styles */

.centering-container {
  max-width: 120rem;

  margin: 0 auto;
}

.link-button:link,
.link-button:visited {
  padding: 1rem 2rem;

  text-align: center;
  text-decoration: none;

  font-size: 2rem;
  font-weight: 500;

  border-radius: 5px;

  transition: all 250ms;
}

.link-button--regular:link,
.link-button--regular:visited {
  color: #41767f;
  background-color: #ffffff;

  border: 2px solid #41767f;
}

.link-button--regular:hover,
.link-button--regular:active {
  color: #345e66;

  border-color: #345e66;
}

.link-button--emphasis:link,
.link-button--emphasis:visited {
  color: #ffffff;
  background-color: #41767f;

  border: 2px solid #41767f;
}

.link-button--emphasis:hover,
.link-button--emphasis:active {
  background-color: #345e66;

  border-color: #345e66;
}

/* Header */

.header {
  background-color: #41767f;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 192rem;

  padding: 1.5rem 8rem;

  margin: 0 auto;
}

.header-logo {
  width: 30rem;
}

.navigation-list {
  display: flex;
  gap: 5rem;

  list-style: none;
}

.navigation-list-item-link:link,
.navigation-list-item-link:visited {
  text-decoration: none;

  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 350;

  color: #ffffff;

  transition: all 250ms;
}

.navigation-list-item-link:hover,
.navigation-list-item-link:active {
  color: #d5c2be;
}

/* Hero section */

.hero-section {
  padding: 8rem 0;
  background-color: #fdfbfb;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.hero-text {
  width: 75%;
}

.hero-heading {
  font-family: "Bodoni Moda", serif;
  font-size: 4.778rem;
  font-weight: 600;
}

.hero-subheading {
  font-family: "Poppins", sans-serif;
  font-size: 1.92rem;
  font-weight: 300;

  margin-bottom: 3.5rem;
}

.hero-description {
  font-size: 1.92rem;

  line-height: 3.4rem;

  margin-bottom: 3.5rem;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.hero-image {
  width: 50rem;

  border-radius: 5px;

  box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.1);
}

/* About section */

.about-section {
  padding: 8rem 0;
}

.about-content {
  padding: 0 12rem;
}

.about-heading {
  font-family: "Bodoni Moda", serif;
  font-size: 3.318rem;
  font-weight: 500;
}

.about-text {
  line-height: 3.4rem;

  margin-bottom: 2rem;
}

/* Approach section */

.approach-section {
  padding: 8rem 0;
}

.approach-content {
  padding: 0 12rem;
}

.approach-heading {
  font-family: "Bodoni Moda", serif;
  font-size: 3.318rem;
  font-weight: 500;
}

.approach-text {
  line-height: 3.4rem;

  margin-bottom: 2rem;
}

/* Footer */

.footer {
  background-color: #41767f;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  max-width: 160rem;

  padding: 1.5rem 8rem;

  margin: 0 auto;
}

.footer-block {
  display: flex;
  flex-direction: column;
  align-items: start;

  height: 15rem;

  font-size: 1.333rem;

  color: #ffffff;
}

.footer-block-heading {
  margin-bottom: 1rem;
}

.footer-block--sublogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-sublogo {
  width: 12rem;

  margin-right: 3.2rem;
}

.footer-site-map {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;
}

.footer-site-map-link:link,
.footer-site-map-link:visited {
  text-decoration: none;

  font-family: "Poppins", sans-serif;

  color: #ffffff;

  transition: all 250ms;
}

.footer-site-map-link:hover,
.footer-site-map-link:active {
  color: #d5c2be;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1rem;
}

.footer-contact-icon {
  font-size: 2rem;
}

.footer-social-media-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-social-media-link:link,
.footer-social-media-link:visited {
  text-decoration: none;

  color: #ffffff;

  transition: all 250ms;
}

.footer-social-media-link:hover,
.footer-social-media-link:active {
  color: #d5c2be;
}

.footer-social-media-icon {
  font-size: 3rem;
}
